@import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,700;1,400&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'PT Sans', sans-serif;
}
.main {
  width: 100%;
  background-color: #074e99;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  text-align: center;
}
.container {
  width: 100%;
  max-width: 90%;
  min-height: fit-content;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 5px 10px;
  padding: 2.5rem;
}
.reload {
  width: fit-content;
  padding: 10px;
  height: fit-content;
  margin: 10px auto;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
  border: none;
  background-color: #a3a1a1;
}
.icon-right {
    text-align: right;
    position: relative;
    right: 0;
}
.author,
.quote {
  text-align: center;
}
.quote {
  font-size: 2rem;
  font-weight: 600;
  margin: 15px 0 20px;
}
.author {
  font-weight: lighter;
}
.quote-container {
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  display: flex;
}
.icon {
  color: #a3a1a1;
}
.reload:hover {
  cursor: pointer;
  border: 2px solid black;
}

@media only screen and (min-width: 900px) {
  .container {
    max-width: 70%;
  }
}